In [2]:
import pandas as pd
from argparse import ArgumentParser

In [6]:
input_directory_smiles = "../library_prepared_filtered_with_isomers_smiles"
input_directory_fingerprints = "../fingerprints"
output_directory_smiles = "../library_ready_filtered_with_isomers_smiles"
output_directory_fingerprints = "../library_ready_filtered_with_isomers_fingerprints"

In [5]:
file_number = 31

In [12]:
print("Processing file " + str(file_number))
# process smiles files
smiles_file = pd.read_csv(input_directory_smiles + "/smiles_all_" + "{0:0=2d}".format(file_number) + ".txt",
                          delim_whitespace=True, header=None, names=["smiles", 'zinc_id'])

# process fingerprints file
fingerprints_file = pd.read_csv(input_directory_fingerprints + "/smiles_all_" + "{0:0=2d}".format(file_number) + ".txt", 
                            sep='^([^,]+),', engine='python', header=None, 
                            names=['to_remove', 'zinc_id', 'morgan'])
fingerprints_file.drop('to_remove', inplace=True, axis=1)

Processing file 31

In [13]:
smiles_file.shape[0]>0

False

In [33]:
smiles_file["short_zinc_id"] = smiles_file["zinc_id"].str.split('_', expand=True).iloc[:, 0]
smiles_file["clean_zinc_id"] = smiles_file["zinc_id"]

In [34]:
smiles_only_once= [not elem for elem in smiles_file.duplicated(subset="short_zinc_id", keep=False)]

In [35]:
# smiles_file.loc[smiles_only_once, 'zinc_id'] = smiles_file.loc[smiles_only_once, 'zinc_id'].str.split('_')
smiles_file.loc[smiles_only_once, 'clean_zinc_id'] = smiles_file.loc[smiles_only_once, 'clean_zinc_id'].str.split('_',expand=True).iloc[:, 0]

In [39]:
smiles_file

,smiles,zinc_id,short_zinc_id,clean_zinc_id
0,c1ccc(c(c1)C(=O)OCC[C@@H]2CCCC[NH2+]2)N,ZINC000000000638_1,ZINC000000000638,ZINC000000000638
1,Cc1ccccc1OC[C@@H](C[NH+]2CCC=CC2)O,ZINC000000000794_1,ZINC000000000794,ZINC000000000794
2,COc1cc(cc(c1OC)OC)/C=C/C(=O)N,ZINC000000001157_1,ZINC000000001157,ZINC000000001157
3,c1cc(=O)[nH]cc1C(=O)N2CCCCC2,ZINC000000003546_1,ZINC000000003546,ZINC000000003546
4,c1cc(cnc1)[C@H]2n3ccc(c3CS2)C(=O)N,ZINC000000004355_1,ZINC000000004355,ZINC000000004355
...,...,...,...,...
10071914,CC(C)c1cccc(c1)c2cccc3c2oc(n3)C(=O)OC,ZINC001241740710_1,ZINC001241740710,ZINC001241740710
10071915,CC(C)c1cccc(c1)c2cnc(cn2)NC(=O)C(C)(C)C,ZINC001241740713_1,ZINC001241740713,ZINC001241740713
10071916,CCC(=O)Nc1cc(ccn1)c2cccc(c2)C(C)C,ZINC001241740719_1,ZINC001241740719,ZINC001241740719
10071917,CC(C)c1cccc(c1)c2ccc3c(c2)CNC(=O)N3C,ZINC001241740725_1,ZINC001241740725,ZINC001241740725
10071918,CC(C)c1cccc(c1)c2cccn(c2=O)c3cccnc3,ZINC001241740805_1,ZINC001241740805,ZINC001241740805

In [41]:
# remove duplicates
smiles_file_filtered = smiles_file.drop_duplicates(subset="clean_zinc_id")

In [44]:
fingerprints_file_filtered  = fingerprints_file.drop_duplicates(subset="zinc_id")

In [46]:
merged_result = smiles_file_filtered.merge(fingerprints_file_filtered, on='zinc_id')

In [47]:
 merged_result.drop(['morgan','zinc_id','short_zinc_id'], axis=1)

                                           smiles     clean_zinc_id
0         c1ccc(c(c1)C(=O)OCC[C@@H]2CCCC[NH2+]2)N  ZINC000000000638
1              Cc1ccccc1OC[C@@H](C[NH+]2CCC=CC2)O  ZINC000000000794
2                   COc1cc(cc(c1OC)OC)/C=C/C(=O)N  ZINC000000001157
3                    c1cc(=O)[nH]cc1C(=O)N2CCCCC2  ZINC000000003546
4              c1cc(cnc1)[C@H]2n3ccc(c3CS2)C(=O)N  ZINC000000004355
...                                           ...               ...
10071914    CC(C)c1cccc(c1)c2cccc3c2oc(n3)C(=O)OC  ZINC001241740710
10071915  CC(C)c1cccc(c1)c2cnc(cn2)NC(=O)C(C)(C)C  ZINC001241740713
10071916        CCC(=O)Nc1cc(ccn1)c2cccc(c2)C(C)C  ZINC001241740719
10071917     CC(C)c1cccc(c1)c2ccc3c(c2)CNC(=O)N3C  ZINC001241740725
10071918      CC(C)c1cccc(c1)c2cccn(c2=O)c3cccnc3  ZINC001241740805

[10071919 rows x 2 columns]

In [48]:
merged_result.drop(['smiles','zinc_id','short_zinc_id'], axis=1)

             clean_zinc_id                                             morgan
0         ZINC000000000638  2,4,13,29,64,80,120,121,145,147,175,301,356,42...
1         ZINC000000000794  1,21,29,33,64,80,104,118,123,124,159,175,207,2...
2         ZINC000000001157  33,140,147,173,187,249,282,289,333,356,372,512...
3         ZINC000000003546  2,4,81,90,291,314,356,361,369,440,456,480,497,...
4         ZINC000000004355  19,64,77,110,140,142,147,255,298,309,356,378,3...
...                    ...                                                ...
10071914  ZINC001241740710  1,15,33,64,73,128,133,136,145,227,283,289,323,...
10071915  ZINC001241740713  1,6,15,33,36,64,75,114,128,136,266,270,283,320...
10071916  ZINC001241740719  1,15,33,41,64,75,80,117,128,136,283,294,329,34...
10071917  ZINC001241740725  1,15,26,33,64,90,107,121,136,146,212,271,283,3...
10071918  ZINC001241740805  1,15,19,25,33,64,77,95,136,283,314,323,341,352...

[10071919 rows x 2 columns]

In [ ]:
# merge the two dataframes on ZINC ID
merged_result = smiles_file_filtered.merge(fingerprints_file_filtered, on='zinc_id')

#     # Uncomment if only one version of molecule is to be used 
#     merged_result['zinc_id'] = merged_result['zinc_id'].apply(lambda x: x.split("_")[0])
#     merged_result = merged_result.drop_duplicates(subset="zinc_id")

# retrieve back new smiles and fingerprints dataframes
new_smiles_file = merged_result.drop(['morgan','zinc_id','short_zinc_id'], axis=1)
new_fingerprints_file = merged_result.drop(['smiles','zinc_id','short_zinc_id'], axis=1)


# # save new smiles and fingerprints dataframes
# new_smiles_file.to_csv(output_directory_smiles + "/smiles_all_" + "{0:0=2d}".format(file_number) + ".txt", 
#                        header=None, index=None, sep=' ', mode='a')

# new_fingerprints_file.to_csv(output_directory_fingerprints + "/smiles_all_" + "{0:0=2d}".format(file_number) + ".txt", 
#                                  header=None, index=None, sep='?')

## Docking file processing

In [4]:
testing_labels = pd.read_csv("results/abeta/iteration_1/testing_labels.txt", names=['zinc_id', 'score'])

/home/mb2462/.conda/envs/DD_protocol/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
testing_labels

                  zinc_id             score
0       r_i_docking_score           ZINC_ID
1                    -5.0  ZINC000000397415
2                    -4.5  ZINC000000474804
3                    -4.2  ZINC000002504412
4                    -4.3  ZINC000003882880
...                   ...               ...
441701               -4.5  ZINC001772350492
441702               -4.9  ZINC001772370326
441703               -4.8  ZINC001772394814
441704               -5.3  ZINC001772438097
441705               -5.1  ZINC001772453620

[441706 rows x 2 columns]